@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Meie+Script&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Inter;
}

.title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.description {
    color: rgba(255, 255, 255, 0.502);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.btn {
    border-radius: 40px;
    border: none;
    background: rgb(230, 83, 60);
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.8em 3rem;
}

section>div {
    width: 75vw;
    margin: 100px auto;
}

/* navbar  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    margin: 3rem auto;
}

nav h3 {
    color: rgb(230, 83, 60);
    font-size: 2.3rem;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    font-size: 18px;
    font-weight: 600;
}

.home {
    background-color: rgb(230, 83, 60);
    padding: 0.5rem 1rem;
    border-radius: 40px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.icon {
    color: rgb(255, 255, 255);
    width: 2rem;
    display: none;

}

/* hero section  */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    max-width: 45%;
}

.hero-content h2 {
    font-size: 5rem;
    font-weight: 900;
    line-height: 120%;

}

.hero-content span {
    font-family: Meie Script;
}

.app {
    border-radius: 40px;
    border-color: rgb(255, 255, 255);
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.8em 3rem;
    margin-left: 0.8rem;
}

.bg-img {
    background-image: url(images/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 536px;
    height: 540px;
    position: relative;
}

.bg-img>div {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.50);
    max-width: 11rem;
    padding: 0.5rem 1rem 0px;
}

.bg-div-text {
    font-size: 2rem;
    font-weight: 900;
}

.bg-div {
    position: absolute;
    right: 50px;
    top: 100px;
}

.play-div {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 57px;
}

.play {
    background: rgb(230, 83, 60);
    border-radius: 50%;
    text-align: center;
    padding: 10px 12px;
    box-sizing: border-box;
}

.mnone {
    margin: 0.5rem auto 0.8rem;
}

/* section 2 */

.sect-2 {
    text-align: center;
}

.sect-2-item {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: Inter;
}

.sect-2-item img {
    border-radius: 50%;
    margin-bottom: 30px;
}

/* section 3 */

.sect-3 {
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sect-3>div {
    padding: 50px;
    width: 40%;
}

.run {
    background-image: url(images/run.jpg);
    background-position: 65% 35%;
    border-radius: 18px;
    height: 370px;
}

/* section 6 */

.sect-6 {
    text-align: center;
}

.sect-6-item {
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.image {
    position: relative;
}

.sect-6-item img {
    border-radius: 18px;
    width: 100%;
    height: 19em;
}

.image-content {
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 1.2rem;
}

.image-content p {
    color: rgba(255, 255, 255, 0.5);
}

/* footer section  */

footer {
    background: rgba(255, 255, 255, 0.1);
}

.foot {
    width: 75vw;
    margin: 0 auto;
    padding: 4.3em 0px 2em;
}

.foot>p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
}

.foot-content {
    display: flex;
    gap: 6rem;
}

.right-content {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.foot-content h3 {
    color: rgb(230, 83, 60);
    font-size: 4.3rem;
    font-weight: 800;
}

.right-content h4 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5em;
}

.foot-content li {
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.3em;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 2em 0px;
}





@media screen and (max-width:576px) {
    section>div {
        width: 90vw;
    }

    nav>ul {
        display: none;
    }

    .icon {
        display: block;
    }

    /* hero section  */

    .hero {
        flex-direction: column;
    }

    .hero-content {
        max-width: 100%;
    }

    .bg-img {
        max-width: 100%;
        margin-top: 50px;
    }

    .bg-div{
        right: 0;
    }

    .btn-container {
        display: flex;
    }

    /* section 2 */

    .sect-2-item {
        flex-direction: column;
    }

    /* section 3 */
    .sect-3 {
        flex-direction: column;
        align-items: start;
    }

    .sect-3>div {
        padding: 25px;
        width: calc(100% - 50px);
    }

    .title {
        font-size: 2.5rem;
    }

    .sect-3 .btn {
        padding: 15px 120px;
    }

    /* section 6 */

    .sect-6-item {
        grid-template-columns: repeat(1, 1fr);
    }

    /* footer section */

    .foot-content {
        flex-direction: column;
    }

    .right-content {
        flex-direction: column;
        width: 100%;
    }

}